@model IEnumerable<Student>
@{
    ViewData["Title"] = "UpdatStudentDegree";
}

<h1>UpdatStudentDegree</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <input type="text" name="stdDegree.@item.Id">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="add" />
</form>
