
@{
    ViewData["Title"] = "UpdateCourses";
}


<h1>UpdateCourses</h1>
<form method="post">
    <div>
        <h1 class="alert alert-info">
            Courses In Department
        </h1>
        <select name="coursesToRemove" asp-items="ViewBag.coursesInDept" multiple></select>
    </div>
    <div>
        <h1 class="alert alert-danger">
            Courses Not In Department
        </h1>
        <select name="coursesToAdd" asp-items="ViewBag.coursesNotInDept" multiple></select>
    </div>
    <input type="submit" value="update" />
</form>